<div class="tool-bar p-3 bg-dark">
    <ul class="list-inline m-0">
        <li class="list-inline-item">
            <button type="button" class="btn btn-light btn-sm" (click)="toogleSideBar()"> <i class="fa fa-bars"
                    aria-hidden="true"></i></button>
        </li>
        <li class="list-inline-item">
            <button type="button" class="btn btn-light btn-sm" (click)="save()"><i class="fa fa-save"></i></button>
        </li>
        <li class="list-inline-item">
            <button type="button" class="btn btn-light btn-sm"><i class="fa fa-edit"></i></button>
        </li>
        <li class="list-inline-item">
            <button type="button" class="btn btn-light btn-sm"><i class="fa fa-trash"></i></button>
        </li>
        <li class="list-inline-item">
            <input type="search" class="form-control form-control-sm" [(ngModel)]="notesService.searchTerm"
                placeholder="Search Notes">
        </li>
    </ul>
</div>